@font-face {
  font-family: ArbatDi; /* Имя шрифта */
  src: url(./font/ArbatDi.ttf); /* Путь к файлу со шрифтом */
}

body {
  margin: 0;
  padding: 0;
  font-family: ArbatDi sans-serif;
  color: #252524;
  background-color: #ebe8e3;
}

.temp {
  color: #c9cbca;
  color: #ebe8e3;
  color: #252524;
  color: #e4d7be;
}